.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#table {
  background-color: rgb(0, 92, 0);
  height: 600px;
  width: 800px;
  top: 7%;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
}

.card{
  width: 60px;
  height: 100px;
  border-radius: 5px;
  margin-left: -20px;
}

.card:hover{
  cursor: pointer;
}

#player1{
  position: relative;
  margin-top: 10px;
}

#player2{
  position: relative;
  left: -34%;
  top: 32%;
  margin: 0 25px;
  transform: rotate(90deg);
  height: 0px;
}

#player3{
  position: relative;
  top: 32%;
  right: -48%;
  margin: 0 25px;
  transform: rotate(90deg);
  height: 0px;
}

#player4{
  position: absolute;
  bottom: 10px;
  left: 25%;
  margin: 0 25px;
}

#play1,#play2,#play3,#play4{
  width: 60px;
  height: 100px;
}

#play1{
  position: absolute;
  top: 25%;
  right: 45%;
}

#play2{
  position: absolute;
    bottom: 45%;
    left: 25%;
    transform: rotate(90deg);
}

#play3{
  position: absolute;
  bottom: 45%;
  right: 25%;
  transform: rotate(90deg);
}

#play4{
  position: absolute;
  bottom: 25%;
  right: 45%;
}

.team-points{
  position: absolute;
  top: -30px;
  left: 200px;
}

.opposite-points{
  position: absolute;
  top: -30px;
  right: 200px;
}



/* #player2 .card, #player3 .card {
  transform: rotate(90deg);
} */

button{
  position: absolute;
    top: 0;
    left: 0;
}

#suit{
  position: absolute;
  top: -5px;
  right: 40px;
}

#menu{
  background-color: rgb(0, 92, 0);
  height: 500px;
  width: 800px;
  top: 0%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 100px;
}

.btnStart{
  display: inline-block;
  width: 200px;
  background-color: #949494;
  line-height: 44px;
  border-radius: 3px;
  cursor: pointer;
}

.btnStart:hover{
  background-color: #7a7a7a;
}

.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
